# Ignore pickle files for the movie recommendation system
models/*
# Ignore dataset file
dataset.csv
# Ignore all files in the models directory
data/*

# Python cache files
__pycache__/
*.pyc
*.pyo

# Virtual environment folder
.venv/

# Environment variables file
.env

jdk

# Logs and other system files
*.log
.DS_Store

# IDE specific files
.vscode/
.idea/